apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "bedrock-backup.fullname" . }}-datadir
  labels:
  {{- include "bedrock-backup.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
    {{- if .Values.persistence.storageClass }}
    volume.beta.kubernetes.io/storage-class: {{ .Values.persistence.storageClass | quote }}
    {{- else }}
    volume.alpha.kubernetes.io/storage-class: default
  {{- end }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.persistence.dataDir.size | quote }}
  {{- if .Values.persistence.storageClass }}
  {{- if (eq "-" .Values.persistence.storageClass) }}
  storageClassName: ""
  {{- else }}
  storageClassName: "{{ .Values.persistence.storageClass }}"
  {{- end }}
  {{- end }}
